button {
	color: inherit;
}

.btn {
	background-color: var(--clr-element);
	border: 1px solid var(--clr-element-border);
	border-radius: 0.25rem;
	padding: 0.5rem;
	line-height: 1;

	cursor: pointer;
	transition: background-color 100ms ease-out;

	&:enabled:hover {
		background-color: var(--clr-element-border);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.75;
	}
}

.btn.btn--pushed-down {
	background-color: var(--clr-panel-bg);
	border-color: var(--clr-panel-border);
	opacity: 1;

	font-weight: 700;
	cursor: default;
}
