@charset "UTF-8";
// @use "fonts";
@use "text";

*,
::before,
::after {
	box-sizing: border-box;
}

:root {
	font-family: "Poppins", sans-serif;
	color-scheme: dark;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 1rem;
}
