@charset "UTF-8";
@use "theme";
@use "fonts";
@use "text";
@use "elements";

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	scrollbar-gutter: stable;
}

body {
	min-height: 100%;
	padding: 1rem 0.25rem;
}
