:root {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

button {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

p {
	margin: 0;
}

b {
	font-weight: 600;
}
